colorcet==3.1.0
faiss_cpu==1.8.0.post1
matplotlib==3.7.3
mistralai==1.9.11
numpy==1.25.2
openai==2.7.1
pandas==2.0.3
python-dotenv==1.2.1
rank_bm25==0.2.2
rapidfuzz==3.14.3
Requests==2.32.5
seaborn==0.13.2
torch==2.2.0
transformers==4.42.0
